<div class="md-grid md-footer-acknowledgements">
  <img src="https://computing.docs.ligo.org/guide/img/kagra.png">
  <img src="https://computing.docs.ligo.org/guide/img/ligo.png">
  <img src="https://computing.docs.ligo.org/guide/img/lsc.png">
  <img src="https://computing.docs.ligo.org/guide/img/virgo.png">
</div>
